**/target/
**/examinator-server/src/main/resources/application.properties
.DS_Store
**/node_modules/
**/npm-debug.log*
**/package-lock.json

**/.env
**/.env.local

**/dist/
**/build/
**/.DS_Store
**/*.log
